@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgb(67, 156, 97);
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav .cabecalho a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}


nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav li {
    margin-left: 7px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight:  500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav li a:hover {
    background-color: white;
    color: rgb(67, 156, 97);
    padding: 12px 20px;
}

.corpo {
    width: 100%;
    height:88vh;
    background: url(./fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.123);
    background-attachment: fixed;
}

.texto {
    color: rgb(32, 21, 48);
    text-align: center;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}
span {
    font-size: 60px;
    color: blue;
}


button {
    height: 55px;
    width: 150px;
    background-color: rgb(67, 156, 97) ;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 300px;
    margin: 0 10px;
    font-weight: bold ;
}

button:hover {
    background-color: white;
    color: rgb(67, 156, 97);   
}

.onda {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(./onda.png);
    background-size: 1000px 100px;
    animation: ondaMovimento 5s ease-in-out infinite alternate;

}

@keyframes ondaMovimento {
    0%{
        transform: translateY(0px);
    }

    100% {
        transform: translateY(25px);
    }
}
#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

#onda2 {
    z-index: 9990;
    opacity: 0.5;
    background-position-x: 300px;
}

#onda3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}

#onda4 {
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

.conteudo {
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
}

footer {
    color: rgb(23, 29, 110);
    margin-top: 5%;  
    text-align: center; 
    font-weight: bold;
}

@media screen and (max-width: 750px) {

.corpo {
    width: 100%;
    height: 77vh;
}

nav {
    text-align: center;
    font-size: 20px;
}

.conteudo {
    margin-top:50px;
}

.subtitulo {
    display: none;
}

.menu {
    display: none;
}

body {
    text-align: justify;
}

}
